@import '/node_modules/modern-normalize/modern-normalize.css';

body {
  min-width: 365px;
  color: $neutralColor600;
  font-family: $mainFontFamily;
  @include font(400, 1rem, 1.5rem, 0);
}

.superheader {
  font-family: $secondaryFontFamily;
  color: $primaryColor400;
  @include font(800, 1rem, 1.5rem, 0);
  text-transform: uppercase;
  margin-bottom: $S;
}

.section-header {
  font-family: $secondaryFontFamily;
  color: $primaryColor950;
  @include font(800, 1.75rem, 2rem, 0);
  margin-bottom: $M;
}

.subheader {
  font-family: $secondaryFontFamily;
  color: $neutralColor950;
  @include font(400, 1.25rem, 2rem, 0);
}
