<section class="banking-details-section">
	<div class="container banking-details-container">
		<h3 class="superheader">Реквізити</h3>
		<h1 class="section-header banking-details-header">
			Перелік банківських рахунків
		</h1>
		<div class="banking-details-description-content-wrapper">
			<div class="banking-details-description-wrapper">
				<ul>
					<li>
						<h3>Основні банківські рекзвізити</h3>
						<p>Отримувач: <span>ТОВ "БТС Брокер"</span></p>
						<p>Код ЄДРПОУ: <span>37686943</span></p>
						<p>Банк: <span>АТ Міжнародний інвестиційний банк</span></p>
						<p>
							Рахунок в форматі IBAN:
							<span>UA393805820000026504011626544</span>
						</p>
						<p>
							Призначення платежу:
							<span
								>На купівлю фінансових інструментів згідно генерального договору
								№ <span>номер генерального договора</span> від
								<span>Прізвище Ім'я По-батькові</span>, без ПДВ</span
							>
						</p>
					</li>
					<li>
						<h3>Реквізити для поповнення рахунку застосунку Bond.UA</h3>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
					</li>
					<li>
						<h3>Реквізити для оплати за депозитарні послуги</h3>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
					</li>
				</ul>
			</div>
			<img
				class="banking-details-section-illustration"
				src="/src/images/illustration-banking-details-section.svg"
				alt="Мальований чоловічок сидить з ноутбуком"
			/>
		</div>
	</div>
</section>
