<section class="banking-details-section">
	<div class="container banking-details-container">
		<h3 class="superheader">Реквізити</h3>
		<h1 class="section-header banking-details-header">
			Перелік банківських рахунків
		</h1>
		<h4 class="banking-details-description-list-title">
			Основні банківські реквізити
		</h4>
		<div class="banking-details-description-content-wrapper">
			<div class="banking-details-description-wrapper">
				<ul class="banking-details-description-list">
					<li class="banking-details-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="banking-details-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Дилерську діяльність</p>
					</li>
					<li class="banking-details-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="banking-details-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Брокерську діяльність</p>
					</li>
					<li class="banking-details-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="banking-details-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Субброкерську діяльність</p>
					</li>
					<li class="banking-details-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="banking-details-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Депозитарну діяльність депозитарної установи</p>
					</li>
					<li class="banking-details-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="banking-details-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Інвестиційне консультування</p>
					</li>
					<li class="banking-details-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="banking-details-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Діяльність з розміщення без надання гарантії</p>
					</li>
				</ul>
				<p>
					Переглянути ліцензії ТОВ "БТС Брокер" можете перейшовши за посиланням
					на
					<a
						href="https://www.nssmc.gov.ua/licensee/?edrpou=37686943#tab-12"
						class="text-link"
						target="_blank"
						rel="noopener noreferrer nofollow"
						>сайт Національної комісії з цінних паперів та фондового ринку</a
					>
				</p>
			</div>
			<img
				class="banking-details-section-illustration"
				src="/src/images/illustration-banking-details-section.svg"
				alt="Руки на паперах зі звітністю"
			/>
		</div>
	</div>
</section>
