<section class="bonds-quote-section">
	<div class="container bonds-quote-container">
		<h3 class="superheader">Котирування</h3>
		<h1 class="section-header bonds-quote-header">
			Актуальні інвестиційні пропозиції від ТОВ “БТС Брокер”
		</h1>
		<h2 class="chapter-header">ОВДП</h2>
		<ul class="bonds-quote-bonds-header-list">
			<li class="bonds-quote-bonds-header-item">Назва</li>
			<li class="bonds-quote-bonds-header-item">ISIN</li>
			<li class="bonds-quote-bonds-header-item">Валюта емісії</li>
			<li class="bonds-quote-bonds-header-item">Дата погашення</li>
			<li class="bonds-quote-bonds-header-item">Дохідність</li>
			<li class="bonds-quote-bonds-header-item">Продаж (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Купівля (UAH)</li>
		</ul>
		<ul class="bonds-quote-bonds-list">
			<li class="bonds-quote-item">
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Назва</span>
					<p class="bonds-quote-element-text">ОВДП 230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">ISIN</span>
					<p class="bonds-quote-element-text">UA4000230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Валюта емісії</span>
					<p class="bonds-quote-element-text">UAH</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дата погашення</span>
					<p class="bonds-quote-element-text">07.07.2027</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дохідність</span>
					<p class="bonds-quote-element-text">18.8%</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Продаж (UAH)</span>
					<p class="bonds-quote-element-text">1063.13</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Купівля (UAH)</span>
					<p class="bonds-quote-element-text">1017.80</p>
				</div>
			</li>
			<li class="bonds-quote-item">
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Назва</span>
					<p class="bonds-quote-element-text">ОВДП 230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">ISIN</span>
					<p class="bonds-quote-element-text">UA4000230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Валюта емісії</span>
					<p class="bonds-quote-element-text">UAH</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дата погашення</span>
					<p class="bonds-quote-element-text">07.07.2027</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дохідність</span>
					<p class="bonds-quote-element-text">18.8%</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Продаж (UAH)</span>
					<p class="bonds-quote-element-text">1063.13</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Купівля (UAH)</span>
					<p class="bonds-quote-element-text">1017.80</p>
				</div>
			</li>
			<li class="bonds-quote-item">
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Назва</span>
					<p class="bonds-quote-element-text">ОВДП 230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">ISIN</span>
					<p class="bonds-quote-element-text">UA4000230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Валюта емісії</span>
					<p class="bonds-quote-element-text">UAH</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дата погашення</span>
					<p class="bonds-quote-element-text">07.07.2027</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дохідність</span>
					<p class="bonds-quote-element-text">18.8%</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Продаж (UAH)</span>
					<p class="bonds-quote-element-text">1063.13</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Купівля (UAH)</span>
					<p class="bonds-quote-element-text">1017.80</p>
				</div>
			</li>
			<li class="bonds-quote-item">
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Назва</span>
					<p class="bonds-quote-element-text">ОВДП 230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">ISIN</span>
					<p class="bonds-quote-element-text">UA4000230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Валюта емісії</span>
					<p class="bonds-quote-element-text">UAH</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дата погашення</span>
					<p class="bonds-quote-element-text">07.07.2027</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дохідність</span>
					<p class="bonds-quote-element-text">18.8%</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Продаж (UAH)</span>
					<p class="bonds-quote-element-text">1063.13</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Купівля (UAH)</span>
					<p class="bonds-quote-element-text">1017.80</p>
				</div>
			</li>
		</ul>
		<h2 class="chapter-header">ОЗДП <span class="asterix">*</span></h2>
		<ul class="bonds-quote-bonds-header-list">
			<li class="bonds-quote-bonds-header-item">Назва</li>
			<li class="bonds-quote-bonds-header-item">ISIN</li>
			<li class="bonds-quote-bonds-header-item">Валюта емісії</li>
			<li class="bonds-quote-bonds-header-item">Дата погашення</li>
			<li class="bonds-quote-bonds-header-item">Дохідність</li>
			<li class="bonds-quote-bonds-header-item">Продаж (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Купівля (UAH)</li>
		</ul>
		<ul class="bonds-quote-bonds-list low-margin">
			<li class="bonds-quote-item">
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Назва</span>
					<p class="bonds-quote-element-text">ОВДП 230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">ISIN</span>
					<p class="bonds-quote-element-text">UA4000230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Валюта емісії</span>
					<p class="bonds-quote-element-text">UAH</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дата погашення</span>
					<p class="bonds-quote-element-text">07.07.2027</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дохідність</span>
					<p class="bonds-quote-element-text">18.8%</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Продаж (UAH)</span>
					<p class="bonds-quote-element-text">1063.13</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Купівля (UAH)</span>
					<p class="bonds-quote-element-text">1017.80</p>
				</div>
			</li>
		</ul>
		<p class="warning-text">
			<span class="asterix">*</span> Єврооблігації (ОЗДП) номіновані у валюті,
			але купити і продати їх можна за гривню.
			<span class="warning">!!</span>Попередження про ризики<span
				class="warning"
				>!!</span
			>
			Купівля ОЗДП є надризиковим видом інвестицій, котра може привести до
			часткової або повної втрати капіталу!
		</p>
		<h2 class="chapter-header">Корпоративні облігації</h2>
		<ul class="bonds-quote-bonds-header-list">
			<li class="bonds-quote-bonds-header-item">Назва</li>
			<li class="bonds-quote-bonds-header-item">ISIN</li>
			<li class="bonds-quote-bonds-header-item">Валюта емісії</li>
			<li class="bonds-quote-bonds-header-item">Дата погашення</li>
			<li class="bonds-quote-bonds-header-item">Дохідність</li>
			<li class="bonds-quote-bonds-header-item">Продаж (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Купівля (UAH)</li>
		</ul>
		<ul class="bonds-quote-bonds-list">
			<li class="bonds-quote-item">
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Назва</span>
					<p class="bonds-quote-element-text">ОВДП 230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">ISIN</span>
					<p class="bonds-quote-element-text">UA4000230270</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Валюта емісії</span>
					<p class="bonds-quote-element-text">UAH</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дата погашення</span>
					<p class="bonds-quote-element-text">07.07.2027</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Дохідність</span>
					<p class="bonds-quote-element-text">18.8%</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Продаж (UAH)</span>
					<p class="bonds-quote-element-text">1063.13</p>
				</div>
				<div class="bonds-quote-element">
					<span class="bonds-quote-element-header">Купівля (UAH)</span>
					<p class="bonds-quote-element-text">1017.80</p>
				</div>
			</li>
		</ul>
		<p>
			Якщо у Вас є питання з приводу інвестування в державні облігації
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>
			та наші спеціалісти проконсультують Вас.
		</p>
	</div>
</section>
