<section class="brokerage-service-section">
	<div class="container brokerage-service-container">
		<h3 class="superheader">Торгівля фінансовими інструментами</h3>
		<h2 class="section-header brokerage-service-header">
			Інвестиційні послуги
		</h2>
		<h4 class="subheader brokerage-service-subheader">Підготовка документів</h4>
		<ul class="tabs-list">
			<li class="tabs-item">
				<button type="button" data-option="first" class="tabs-button active">
					Фізична особа
				</button>
			</li>
			<li class="tabs-item">
				<button type="button" data-option="second" class="tabs-button">
					Юридична особа
				</button>
			</li>
		</ul>
		<div class="brokerage-service-content-wrapper">
			<div class="brokerage-service-required-documents-wrapper">
				<div class="tab-content-wrapper tab-content visible">
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Перелік необхідних документів для приєднання до генерального
							договору про надання інвестиційних послуг фізичній особі -
							резиденту
						</h4>
						<ul class="brokerage-service-documents-requirements-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Паспорт громадянина України</span
									>
									або паспорт громадянина України з безконтактним електронним
									носієм (або паспорт громадянина іншої держави та Посвідка на
									постійне/тимчасове проживання в Україні)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Реєстраційний номер облікової картки платника
										податків</span
									>
									(або паспорт громадянина України, в якому проставлено відмітку
									про відмову від прийняття реєстраційного номера облікової
									картки платника податків, чи номер паспорта із записом про
									відмову від прийняття реєстраційного номера облікової картки
									платника податків в електронному безконтактному носії)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Витяг з Єдиного державного демографічного реєстру</span
									>
									щодо реєстрації місця проживання або Довідка про реєстрацію
									місця проживання особи (Ф-13) або Довідка про реєстрацію місця
									перебування особи (Ф-14) (додається у випадку якщо фізична
									особа має паспорт громадянина України з безконтактним
									електронним носієм)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Довідка про взяття на облік внутрішньо переміщеної
										особи</span
									>
									(за наявності)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Виписка або Витяг з Єдиного державного реєстру</span
									>
									юридичних осіб, фізичних осіб-підприємців та громадських
									формувань (для фізичних осіб-підприємців)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Довідка з банку</span
									>
									про відкриття поточного рахунку
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Опитувальник</span
									>, заповнений відповідно до вимог інвестиційної фірми
								</p>
							</li>
						</ul>
					</div>

					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Документи для ознайомлення
						</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Генеральний договір про надання інвестиційних послуг (<a
										href="/src/upload/documents/brokerage-service/FO/Generalnuy dogovir.pdf"
										target="_blank"
										download
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/FO/Generalnuy dogovir.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Індивідуальна частина до генерального договору про надання
									інвестиційних послуг (<a
										href="/src/upload/documents/brokerage-service/FO/induvid_chastuna_FO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/FO/induvid_chastuna_FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Опитувальник для фізичної особи (<a
										href="/src/upload/documents/brokerage-service/FO/7_Oputyvalnuk FO_fatca.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/FO/7_Oputyvalnuk FO_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Анкета оцінювання клієнта–фізичної особи (<a
										href="/src/upload/documents/brokerage-service/FO/Anketa klienta FO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/FO/Anketa klienta FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Переглянути</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Тарифи (<a href="/src/pricing.html" class="text-link"
										>переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content-wrapper tab-content">
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Перелік необхідних документів для приєднання до генерального
							договору про надання інвестиційних послуг юридичній особі -
							резиденту
						</h4>
						<ul class="brokerage-service-documents-requirements-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Зареєстрований установчий документ</span
									>
									та інформація про код доступу (Опис) до результатів надання
									адміністративних послуг. (Положення юридичних осіб публічного
									права, які затверджуються розпорядчими актами Президента
									України, органу державної влади або органу місцевого
									самоврядування, засвідчення не потребують. Юридичні особи
									публічного права, які діють на підставі законів, установчий
									документ не подають. У разі якщо юридична особа діє на
									підставі модельного статуту, подається копія рішення про її
									створення, яке підписується усіма засновниками/рішення
									уповноваженого органу управління юридичної особи про перехід
									на діяльність на підставі модельного статуту з доданням копій
									змін до нього (у разі їх внесення) або інформація про код
									доступу до результатів надання адміністративних послуг)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Витяг з Єдиного державного реєстру юридичних осіб</span
									>, фізичних осіб-підприємців та громадських формувань
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Документи, що підтверджують призначення на посаду</span
									>
									осіб, що мають право діяти від імені юридичної особи без
									довіреності (протокол, наказ)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Довіреність</span
									>
									(якщо від імені юридичної особи діє особа за довіреністю)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Копія паспорта та довідки про присвоєння ідентифікаційного
										номеру</span
									>
									директора та уповноваженої особи (завірені підписом власника)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									Оригінал або копія документа, що містить інформацію щодо
									реквізитів банківського рахунку
									<span class="brokerage-service-documents-strong-text"
										>реквізитів банківського рахунку</span
									>
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Схематичне зображення структури власності</span
									>
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Фінансова звітність</span
									>
									за останній податковий період
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Ліцензії</span
									>
									(за наявності)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Опитувальник юридичної особи</span
									>
									для проведення ідентифікації
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-documents-strong-text"
										>Інші документи</span
									>
									та інформацію, необхідні для перевірки відповідно до вимог
									підпункту 69.8.2 пункту 69.8 статті 69 Податкового Кодексу
									України статусу податкового резидентства юридичної особи та
									податкового резидентства її кінцевих бенефіціарних власників.
									Такими документами можуть бути, зокрема, але не винятково: для
									юридичної особи-резидента: довідка або сертифікат про сплату
									податків в іноземній країні, тощо; для фізичної особи -
									кінцевого бенефіціарного власника юридичної особи-резидента:
									паспорт громадянина України або іншої країни; посвідка на
									постійне або тимчасове проживання в Україні або інших країнах;
									імміграційні картки; довідки з прикордонних служб України та
									інших країн; паспорт для виїзду за кордон, в якому містяться
									відмітки про перетину кордону України та кордонів інших країн;
									відомості про нараховані доходи та утримані податки в Україні
									та інших країнах; документи, які підтверджують реєстрацію
									фізичної особи як суб’єкта господарювання або самозайнятою
									особою в Україні або інших країнах
								</p>
							</li>
						</ul>
					</div>

					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Документи для ознайомлення
						</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Генеральний договір про надання інвестиційних послуг (<a
										href="/src/upload/documents/brokerage-service/UO/Generalnuy dogovir.pdf"
										target="_blank"
										download
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/UO/Generalnuy dogovir.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Індивідуальна частина до генерального договору про надання
									інвестиційних послуг (<a
										href="/src/upload/documents/brokerage-service/UO/induvid_chastuna_UO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/UO/induvid_chastuna_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Опитувальник для юридичної особи (<a
										href="/src/upload/documents/brokerage-service/UO/Oputyvalnuk UO_fatca.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/UO/Oputyvalnuk UO_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Анкета оцінювання клієнта–юридичної особи (<a
										href="/src/upload/documents/brokerage-service/UO/Anketa klienta UO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="/src/upload/documents/brokerage-service/UO/Anketa klienta UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Переглянути</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Тарифи (<a href="/src/pricing.html" class="text-link"
										>переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="brokerage-service-better-exp-offer">
				<h4 class="brokerage-service-better-exp-title">Веб опитувальник</h4>
				<p class="brokerage-service-better-exp-text">
					Для зручності процесу приєднання ми підготували веб форму
					опитувальника
				</p>
				<a
					href="https://form.btc-broker.com/"
					class="button-secondary price-card-button"
					>Заповнити веб форму
					<svg
						class="price-card-benefits-icon"
						class="button-secondary-icon"
						width="24"
						height="24"
					>
						<use
							href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
						></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
