<section class="faq-global-section">
	<div class="container faq-global-container">
		<h3 class="superheader">Інформація</h3>
		<h2 class="section-header faq-global-header">Поширені запитання</h2>
		<h4 class="subheader faq-global-subheader">
			На цій сторінці зібрані найбільш поширені запитання і відповіді на них.
			Якщо не знайшли запитання, відповідь на яке вас цікавить, на сторінці
			<a
				class="faq-global-contact-us-link"
				href="/src/contact-us.html"
				title="Покликання на сторінку зворотнього зв'язку"
				>Зворотнього зв'язку</a
			>
			можна поставити його нам напряму
		</h4>
		<div class="accordion faq-accordion">
			<div class="accordion-panel">
				<h3 id="panel1-title">
					<button
						class="accordion-trigger"
						aria-expanded="true"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як виглядає облігація внутрішньої державної позики, тобто як я можу
						зрозуміти, що я реально маю облігацію?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel1-title"
					aria-hidden="false"
					id="panel1-content"
				>
					<div>
						<p class="accordion-content-text">
							Облігації, як і інші цінні папери існують в електронній формі.
							Тому, ваше право власності на облігації підтверджується
							відповідним документом – випискою з рахунку в цінних паперах.
							Такий документ надає ліцензована депозитарна установа, в якій
							зберігаються ваші цінні папери
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel2-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion2-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Які реальні гарантії захисту ОВДП, якщо рахунок в банку чи у брокера
						заблокують?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel2-title"
					aria-hidden="true"
					id="panel2-content"
				>
					<div>
						<p class="accordion-content-text">
							Всі цінні папери зберігаються окремо від активів брокера та не
							підлягають блокуванню за зобов’язаннями брокера. У разі блокування
							рахунку брокера, права власності на цінні папери клієнтів
							залишаються недоторканими. Клієнту буде надано можливість
							перевести свої до іншої депозитарної установи
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel3-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion3-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						В чому реальна різниця Брокера та Банка первинного дилера?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel3-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel3-content"
				>
					<div>
						<p class="accordion-content-text">
							БТС Брокер купує, та продає ОВДП на вторинному ринку, та не маємо
							доступу до аукціонів яки кожного тижні проводить МІНФІН. На ці
							аукціони мають доступ банки які називаються
							<a
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Перелік первинних дилерів на сайті міністерства фінансів України"
								>первинними дилерами</a
							>
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel4-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion4-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						В чому перевага/недолік звернення саме до брокера, а не до банку?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel4-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel4-content"
				>
					<div>
						<p class="accordion-content-text">
							По суті, вам треба просто порівняти комісії за проведення угоди у
							брокера та у банку. А також дохідності, які вони пропонують. І
							тоді ви для себе побачите, який варіант є більш вигідним. Є лише
							один важливий нюанс – якщо ви збираєтесь купувати через банк, то,
							зазвичай, у вас має бути відкритий банківський рахунок в цьому
							банку, а брокери можуть приймати платежі майже від будь-якого
							банку<a
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Перелік первинних дилерів на сайті міністерства фінансів України"
								>первинними дилерами</a
							>
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel5-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion5-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи існує можливість проміжного продажу облігацій перед строком
						погашення та які на це існують обмеження? Яка процедура продажу ОВДП
						та кому їх продають чи повертають?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel5-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel5-content"
				>
					<div>
						<p class="accordion-content-text">
							Так, облігації можна продати до погашення. Для цього просто треба
							знайти того хто їх купить. В такому випадку обмеження можуть бути
							лише зі сторони покупця. Наприклад, якщо ви продаєте дуже велику
							кількість облігацій, а покупець буде готовий придбати лише їх
							частину
							<a
								class="accordion-content-text-link"
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Перелік первинних дилерів на сайті міністерства фінансів України"
								>первинними дилерами</a
							>
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel6-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion6-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						На які строки видають ОВДП?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel6-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel6-content"
				>
					<div>
						<p class="accordion-content-text">
							Кожна серія ОВДП має свою дату погашення. Зараз на ринку в
							основному торгуються ОВДП зі строком погашення 2023-2027 рік. Хоча
							держава може випустити облігації з погашенням, наприклад, через 20
							років
							<a
								class="accordion-content-text-link"
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Перелік первинних дилерів на сайті міністерства фінансів України"
								>первинними дилерами</a
							>
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel7-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion7-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи є податкові стимули або пільги, пов'язані з інвестиціями у
						внутрішні державні облігації України?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel7-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel7-content"
				>
					<div>
						<p class="accordion-content-text">
							Для фізичних осіб відсутні податки на прибуток та військовий збір
							у розмірі 1,5%, що отриманий від державних облігацій
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel8-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion8-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Які документи необхідні для купівлі ОВДП в об'ємі більшому за 100
						тисяч грн наприклад
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel8-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel8-content"
				>
					<div>
						<p class="accordion-content-text">
							Стандартний набір документів для відкриття рахунку в цінних
							паперах: паспорт, РНОКПП тощо. Але якщо сума буде досить великою –
							у вас обов’язково запросять документи, що підтверджують походження
							ваших коштів
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel9-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion9-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як довго зазвичай займає процес придбання облігацій внутрішньої
						державної позики (ОВДП) через брокера?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel9-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel9-content"
				>
					<div>
						<div class="accordion-content-text">
							<p>Тут є багато факторів:</p>
							<ul>
								<li>Чи відкритий у вас уже рахунок у брокера</li>
								<li>Чи ви вже відправляли кошти на брокерський рахунок</li>
								<li>На яку суму ви купуєте</li>
								<li>
									В який спосіб ви купуєте (угода з паперовими документами або
									через мобільний застосунок тощо)
								</li>
								<li>В який день і час ви купуєте</li>
								<li>Яку саме серію ОВДП ви купуєте</li>
							</ul>
							<p>
								В залежності від комбінації цих факторів, процес може тривати
								від декількох хвилин до декількох днів
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel10-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion10-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як здійснюється комунікація з брокером щодо змін у власницькій
						інформації, адресі чи банківських реквізитах?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel10-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel10-content"
				>
					<div>
						<p class="accordion-content-text">
							Документи, що підтверджують зміни щодо реквізитів власника
							надаються будь яким зручним способом: особисто, кур’єром, поштою,
							на e-mail або засобами електронного документообігу
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel11-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion11-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як отримати детальну інформацію про стан своїх облігацій?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel11-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel11-content"
				>
					<div>
						<p class="accordion-content-text">
							Ви завжди можете запросити виписку про стан рахунку в цінних
							паперах, в якій ви знайдете весь перелік ваших облігацій, які
							зберігаються у відповідній депозитарній установі
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel12-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion12-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи є можливість отримання письмових повідомлень про важливі зміни
						або події, пов'язані з облігаціями?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel12-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel12-content"
				>
					<div>
						<p class="accordion-content-text">
							Так, відповідні повідомлення буде надсилати вам депозитарна
							установа. Зазвичай, це повідомлення на електронну пошту
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel13-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion13-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи може облігацією володіти декілька осіб?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel13-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel13-content"
				>
					<div>
						<p class="accordion-content-text">
							Однією облігацією можно володіти хоч у десятьох. Є поняття
							спільної власності. То екзотика але таке може трапитися,
							наприклад, при розділі майна або при спадщині
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-panel">
				<h3 id="panel14-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion14-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Яка мінімальна сума ОВДП у вашій установі?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel14-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel14-content"
				>
					<div>
						<p class="accordion-content-text">
							В нашій установі ви може купувати облігації, починаючи від однієї
							штуки
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
