<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a href="/src/index.html"
        ><img
          src="/src/images/btc-broker-logo-dark.png"
          alt="BTC Broker logo"
          width="220"
      /></a>
    </nav>
    <button
      class="button-hamburger"
      aria-controls="primary-navigation"
      aria-expanded="false"
    >
      <svg
        fill="var(--button-color)"
        class="hamburger"
        viewBox="0 0 100 100"
        width="24"
      >
        <rect
          class="line top"
          width="70"
          height="10"
          x="15"
          y="25"
          rx="5"
          fill="#282828"
        ></rect>
        <rect
          class="line middle"
          width="70"
          height="10"
          x="15"
          y="45"
          rx="5"
          fill="#282828"
        ></rect>
        <rect
          class="line bottom"
          width="70"
          height="10"
          x="15"
          y="65"
          rx="5"
          fill="#282828"
        ></rect>
      </svg>
    </button>
  </div>
  <div class="mobile-menu-container">
    <nav>
      <ul>
        <li>Послуги та тарифи</li>
        <li>Про нас</li>
        <li>Контакти</li>
      </ul>
    </nav>
  </div>
</header>
