<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a href="/src/index.html"
        ><img
          src="/src/images/btc-broker-logo-dark.png"
          alt="BTC Broker logo"
          width="220"
      /></a>
    </nav>
    <button
      class="button-hamburger"
      aria-controls="primary-navigation"
      aria-expanded="false"
    >
      <svg
        fill="none"
        class="hamburger"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      >
        <rect
          class="line top"
          width="16"
          height="2"
          x="4"
          y="6"
          rx="1"
          fill="#282828"
        />
        <rect
          class="line middle"
          width="16"
          height="2"
          x="4"
          y="11"
          rx="1"
          fill="#282828"
        />
        <rect
          class="line bottom"
          width="16"
          height="2"
          x="4"
          y="16"
          rx="1"
          fill="#282828"
        />
      </svg>
    </button>
    <include src="./partials/mobile-menu.html"></include>
  </div>
</header>
