<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-header">Інвестуй легко через BOND.UA</h1>
    <p class="hero-text">
      Ви можете завантажити додаток за допомогою кнопок нижче
    </p>
    <div class="buttons-app-download">
      <a
        class="bond-ua-app-google-link"
        href="https://play.google.com/store/apps/details?id=com.viaversa.bondua"
        target="_blank"
        rel="nofollow noreferrer noopener"
        title="Завантажити застосунок на Google Play"
      >
        <img
          src="/src/images/svg/Buttons/google-play-badge-logo.svg"
          alt="Get it on Google Play button"
        />
      </a>
      <a
        class="bond-ua-app-apple-link"
        href="https://apps.apple.com/ua/app/bond-ua/id1617621292?l=uk"
        target="_blank"
        rel="nofollow noreferrer noopener"
        title="Завантажити застосунок на App Store"
      >
        <img
          src="/src/images/svg/Buttons/download-on-the-app-store-apple-logo.svg"
          alt="Download on the App Store button"
        />
      </a>
    </div>
  </div>
</section>
