<div class="mobile-menu-container">
  <div class="mobile-menu">
    <div class="mobile-menu-top-icons">
      <button class="mobile-menu-back-btn">
        <svg class="mobile-menu-back-icon" width="24" height="24" fill="none">
          <use href="/src/images/svg/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="language-select-btn" type="button">
        <svg width="24" height="24" fill="none">
          <use href="/src/images/svg/symbol-defs.svg#icon-world"></use>
        </svg>
        <svg width="24" height="24" fill="none">
          <use href="/src/images/svg/symbol-defs.svg#icon-flag-ukraine"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-nav-menu">
      <ul class="mobile-nav-menu-list">
        <li class="mobile-nav-menu-item">
          <button type="button" class="mobile-nav-menu-btn">
            Послуги та тарифи
            <svg
              class="mobile-nav-menu-icon"
              width="24"
              height="24"
              fill="none"
            >
              <use
                href="/src/images/svg/symbol-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
          <div class="mobile-menu-submenu-container">
            <ul class="mobile-nav-submenu-list">
              <li class="mobile-nav-submenu-item">
                <h3 class="mobile-nav-submenu-title">Приватним особам</h3>
                <ul>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Депозитарні послуги</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Інвестиційні послуги</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Консультування</a>
                  </li>
                </ul>
              </li>
              <li class="mobile-nav-submenu-item">
                <h3 class="mobile-nav-submenu-title">Корпоративним</h3>
                <ul>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">КУА та Фондам</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Страховим компаніям</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Акціонерним товариствам</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Юридичним особам</a>
                  </li>
                </ul>
              </li>
              <li class="mobile-nav-submenu-item">
                <h3 class="mobile-nav-submenu-title">Умови надання послуг</h3>
                <ul>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Тарифи на послуги</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Договори та внутрішні документи</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Регламенти та положення</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="mobile-nav-menu-item">
          <button type="button" class="mobile-nav-menu-btn">
            Про нас
            <svg
              class="mobile-nav-menu-icon"
              width="24"
              height="24"
              fill="none"
            >
              <use
                href="/src/images/svg/symbol-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
          <div class="mobile-menu-submenu-container">
            <ul class="mobile-nav-submenu-list">
              <li class="mobile-nav-submenu-item">
                <h3 class="mobile-nav-submenu-title">Інформація</h3>
                <ul>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Звітність</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Ліцензії</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Реквізити</a>
                  </li>
                </ul>
              </li>
              <li class="mobile-nav-submenu-item">
                <h3 class="mobile-nav-submenu-title">Команда</h3>
                <ul>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Персонал</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Партнери</a>
                  </li>
                  <li class="mobile-nav-submenu-link">
                    <a href="#">Агенти</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="mobile-nav-menu-item-contacts">
          <button type="button" class="mobile-nav-menu-btn">Контакти</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mobile-menu-bottom-elements">
    <form action="#" name="searchfield-mobile-menu">
      <label>
        <input
          class="mobile-menu-search-input"
          type="text"
          name="searchfield-mobile"
          placeholder="Шукати"
        />
      </label>
    </form>
    <a href="/src/form.html" class="button-primary create-account-btn"
      >Відкрити рахунок</a
    >
  </div>
</div>
