<div class="mobile-menu-container">
  <div class="mobile-menu">
    <button class="language-select-btn" type="button">
      <svg width="24" height="24" fill="none">
        <use href="/src/images/svg/symbol-defs.svg#icon-world"></use>
      </svg>
      <svg width="24" height="24" fill="none">
        <use href="/src/images/svg/symbol-defs.svg#icon-flag-ukraine"></use>
      </svg>
    </button>
    <nav class="mobile-nav-menu">
      <ul class="mobile-nav-menu-list">
        <li class="mobile-nav-menu-item">
          <button type="button" class="mobile-nav-menu-btn">
            Послуги та тарифи
            <svg width="24" height="24" fill="none">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </li>
        <li class="mobile-nav-menu-item">
          <button type="button" class="mobile-nav-menu-btn">
            Про нас
            <svg width="24" height="24" fill="none">
              <use
                href="/src/images/svg/symbol-defs.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </li>
        <li class="mobile-nav-menu-item">
          <button type="button" class="mobile-nav-menu-btn">Контакти</button>
        </li>
      </ul>
    </nav>
    <form action="#" name="searchfield-mobile-menu">
      <label>
        <input
          class="mobile-menu-search-input"
          type="text"
          name="searchfield-mobile"
          placeholder="Шукати"
        />
      </label>
    </form>
  </div>
  <a href="#" class="button-primary create-account-btn">Відкрити рахунок</a>
</div>
