<section class="price-section">
  <div class="container price-container">
    <ul class="price-cards-list">
      <li class="price-card">
        <div class="price-card-header">
          <h3 class="superheader price-card-superheader">Витяг з тарифів</h3>
          <h4 class="price-card-title">Бонд<sup>.ua</sup></h4>
        </div>
        <div class="price-card-body">
          <ul class="price-card-benefits-list">
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>Відкриття рахунку - 0 грн</p>
            </li>
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>Купівля/продаж ОВДП - 0 грн</p>
            </li>
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>Купівля/продаж акцій український емітентів - 0 грн</p>
            </li>
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>Купівля/продаж акцій іноземних емітентів - 0 грн.</p>
            </li>
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>Зберігання ОВДП - 0 грн</p>
            </li>
          </ul>
        </div>
        <div>
          <a href="#" class="button-secondary price-card-button">Всі тарифи</a>
        </div>
      </li>
      <li class="price-card">
        <div class="price-card-header">
          <h3 class="superheader price-card-superheader">Витяг з тарифів</h3>
          <h4 class="price-card-title">Стандарт</h4>
        </div>
        <div class="price-card-body">
          <ul class="price-card-benefits-list">
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>Відкриття рахунку в цінних паперах - 500 грн</p>
            </li>
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>
                Купівля/продаж ОВДП на організованому ринку - 0,05% але не менше
                500,00 грн
              </p>
            </li>
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>
                Купівля/продаж корпоративних цінних паперів на організованому
                ринку - 0,1% але не менше 350,00 грн
              </p>
            </li>
            <li class="price-card-benefits-item">
              <div class="list-icon-wrapper">
                <svg width="24" height="24" fill="none">
                  <use
                    href="/src/images/svg/symbol-defs.svg#icon-done-check"
                  ></use>
                </svg>
              </div>
              <p>
                Купівля/продаж корпоративних цінних паперів на організованому
                ринку - 0,1% але не менше 350,00 грн
              </p>
            </li>
          </ul>
        </div>
        <div>
          <a href="#" class="button-secondary price-card-button">Всі тарифи</a>
        </div>
      </li>
    </ul>
    <div class="price-description-container">
      <h3 class="superheader">Інші тарифи</h3>
      <h2 class="section-header">Повний перелік тарифів</h2>
      <h4 class="subheader price-description-subheader">
        Ми розробили оптимальні клієнтоорієнтовані тарифи для наших вибагливих
        клієнтів, з якими ви можете ознайомитись перейшовши за посиланням нижче
      </h4>
      <a href="#" class="button-primary price-description-button">Всі тарифи</a>
    </div>
  </div>
</section>
