// 0 to height: auto animation

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms $mainTransitionTimingFunction;
}

.accordion-content[aria-hidden='false'] {
  grid-template-rows: 1fr;
}

.accordion-content > div {
  overflow: hidden;
}

// styling

.accordion {
  @include flex(flex, center, stretch);
  flex-direction: column;
  gap: $gapM;
}

.accordion-panel {
  padding: 16px 20px;
  border: 1px solid $primaryColor900;
  border-radius: 12px;
  background-color: $neutralColor0;
}

.accordion h3 {
  font-family: $secondaryFontFamily;
  @include font(700, 1.25rem, 1.5rem, 0);
  color: $neutralColor950;
}

.accordion-trigger {
  @include flex(flex, center, center);
  background: transparent;
  border: 0;
  font: inherit;
  color: inherit;
}

.accordion-icon-wrapper {
  @include flex(flex, center, center);
  width: 24px;
  height: 24px;
  margin-right: 14px;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color $mainTransitionDuration
    $mainTransitionTimingFunction;
}

.accordion-icon {
  display: block;
  margin: 0 auto;
}

.accordion-icon-wrapper.active {
  background-color: $primaryColor700;
}

.accordion-trigger .line {
  stroke: black;
  transform-origin: center;
}

.accordion-trigger[aria-expanded='true'] .line {
  transition: rotate $mainTransitionDuration $mainTransitionTimingFunction
      $mainTransitionDuration,
    stroke $mainTransitionDuration $mainTransitionTimingFunction;
}

.accordion-trigger[aria-expanded='true'] .vertical {
  rotate: 90deg;
  stroke: white;
}

.accordion-trigger[aria-expanded='true'] .horizontal {
  rotate: 180deg;
  stroke: white;
}
