// 0 to height: auto animation

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $mainTransitionDuration
    $mainTransitionTimingFunction;
}

.accordion-content[aria-hidden='false'] {
  grid-template-rows: 1fr;
}

.accordion-content > div {
  overflow: hidden;
}

// styling

.accordion {
  @include flex(flex, center, stretch);
  flex-direction: column;
  gap: $gapM;
}

.accordion-panel {
  padding: 16px 20px;
  border: 1px solid $primaryColor900;
  border-radius: 12px;
  background-color: $neutralColor0;
}

.accordion h3 {
  font-family: $secondaryFontFamily;
  @include font(700, 1.25rem, 1.5rem, 0);
  color: $neutralColor950;
}

.accordion-trigger {
  background: transparent;
  border: 0;
  font: inherit;
  color: inherit;
}

.accordion-icon {
  display: inline-block;
}

// .accordion-trigger::before,
// .accordion-trigger::after {
//   position: absolute;
//   right: 1em;
//   content: '';
//   display: block;
//   width: 1em;
//   height: 5px;
//   background: currentcolor;
//   transition: transform 500ms;
// }

// .accordion-trigger::after {
//   rotate: 90deg;
//   translate: 0 -1.5em;
// }

// .accordion-trigger[aria-expanded='true']::before,
// .accordion-trigger[aria-expanded='true']::after {
//   transform: rotate(45deg);
// }
