.form-group {
  @include flex(flex, center, stretch);
  flex-direction: column;
  padding-top: $S;
}

.form-group:not(:last-child) {
  padding-bottom: $L;
  border-bottom: 1px solid $neutralColor300;
}

.form-label {
  color: $neutralColor950;
}

.form-label.required::after {
  content: '*';
  margin-left: 4px;
  color: $systemColorError;
}

.radio-title {
  color: $neutralColor950;
}

.radio-title.required::after {
  content: '*';
  margin-left: 4px;
  color: $systemColorError;
}

.form-input {
  padding: $S 44px $S 16px;
  border: 1.4px solid $neutralColor300;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  transition: border-color $mainTransitionDuration $mainTransitionTimingFunction;
  &:hover {
    border-color: $neutralColor500;
    &::placeholder {
      color: $neutralColor500;
    }
  }
  &:focus {
    border-color: $primaryColor400;
    &::placeholder {
      color: $primaryColor950;
    }
  }
}

.form-input:not(:last-child) {
  margin-bottom: $M;
}

.form-input::placeholder {
  color: $neutralColor300;
  transition: color $mainTransitionDuration $mainTransitionTimingFunction;
}

.form-input:not(:placeholder-shown):required:valid {
  border-color: $primaryColor400;
  background-image: url('/src/images/svg/icon-done-check-blue.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 16px center;
}

.form-input:not(:placeholder-shown):required:invalid {
  border-color: $systemColorError;
  background-image: url('/src/images/svg/icon-warning.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 16px center;
}

.form-input:not(:placeholder-shown):valid {
  border-color: $primaryColor400;
  background-image: url('/src/images/svg/icon-done-check-blue.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 16px center;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: $systemColorError;
  background-image: url('/src/images/svg/icon-warning.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 16px center;
}

.radio-wrapper {
  @include flex(flex, flex-start, center);
  gap: $M;
}

.form-input[type='radio'] {
  width: 20px;
  height: 20px;
}

.form-input[type='checkbox'] {
  width: 22px;
  height: 22px;
}
