.expertise-section {
  background-image: url('/src/images/svg/bg-shape-yellow-expertise-390.svg'),
    url('/src/images/svg/bg-shape-blue-expertise-390.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50%) calc(50% - 148px), calc(50%) calc(50% - 40px);
  background-size: 796px, 892px;
  padding-top: 88px;
  margin-top: -88px;
  @include mq(tablet-S) {
    background-image: url('/src/images/svg/bg-shape-yellow-expertise-390.svg'),
      url('/src/images/svg/bg-shape-blue-expertise-390.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: calc(50% - 80px) calc(50%),
      calc(50% - 16px) calc(50% + 112px);
    background-size: 1760px, 1728px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 160px;
    margin-bottom: -160px;
  }
}

.expertise-container {
  @include flex(flex, center, center);
  flex-direction: column;
  gap: $L;
  padding-top: $L;
  padding-bottom: $L;
  @include mq(tablet-S) {
    flex-direction: row;
    gap: $M;
    align-items: flex-start;
    padding-top: $XL;
    padding-bottom: $XL;
  }
}

.expertise-illustration {
  transform: scale(1.06);
  @include mq(tablet-S) {
    width: 320px;
    transform: scale(1.2) translate(-16px, 72px);
  }
}

.expertise-description-header {
  margin-bottom: $L;
}
