.footer {
  background-color: $primaryColor950;
}

.footer-container {
  padding-top: $L;
  padding-bottom: $L;
  color: $primaryColor100;
}

.footer-navigation {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  gap: $L;
  padding-bottom: $L;
  border-bottom: 1px solid $primaryColor900;
}

.address {
  @include font(400, 0.875rem, 1.5rem, 0);
  font-style: normal;
}

.address-list {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  gap: $M;
}

.address-item {
  @include flex(flex, center, flex-start);
  gap: $M;
}

.footer-address-icon-wrapper {
  @include flex(flex, center, center);
  width: 40px;
  height: 40px;
}

.contacts-us-wrapper {
  @include flex(flex, center, flex-start);
  flex-direction: column;
}

.address-link {
  text-wrap: balance;
}

.footer-license {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  gap: $M;
  padding-top: $L;
  padding-bottom: $L;
}

.footer-btc-broker-title {
  text-transform: uppercase;
  font-family: $secondaryFontFamily;
  @include font(700, 1.25rem, 1.5rem, 0);
}

.footer-menu {
  @include flex(flex, center, stretch);
  flex-direction: column;
  gap: $M;
}

.footer-menu-trigger {
  @include flex(flex, flex-start, center);
  gap: 10px;
  width: 100%;
  text-align: left;
  border: none;
  font-family: $secondaryFontFamily;
  @include font(700, 1.25rem, 1.5rem, 0);
  background-color: transparent;
  color: inherit;
}

.footer-menu-icon {
  stroke: $primaryColor100;
  rotate: 90deg;
}

.footer-menu-submenu-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height $mainTransitionDuration $mainTransitionTimingFunction;
}

.footer-menu-submenu-wrapper .active {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  gap: $XS;
}

.footer-menu-submenu-list {
  margin-top: $M;
  margin-bottom: $L;
}

.footer-menu-submenu-item:not(:last-child) {
  margin-bottom: $XS;
}

.footer-copyright {
  background-color: $primaryColor900;
  padding: $M $S;
  @include font(400, 0.75rem, 1rem, 0);
  color: $primaryColor400;
  text-wrap: balance;
}
