.form-section {
	padding-top: 88px;
	background-image: url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
		no-repeat, no-repeat, no-repeat;
	background-position: calc(50% - 0px) calc(0% + 404px),
		calc(50% - 256px) calc(0% + 0px), calc(50% - 264px) calc(25% + 256px),
		calc(50% - 96px) calc(25% + 0px), calc(50% + 56px) calc(50% + 304px),
		calc(50% + 48px) calc(50% + 520px), calc(50% - 256px) calc(100% + 160px),
		calc(50% + 0px) calc(100% + 0px);
	background-size: auto, auto, auto, auto, auto, auto, auto, auto;
	@include mq(tablet-S) {
		background-image: url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg");
		background-position: calc(50% + 64px) calc(0% + 0px),
			calc(50% - 416px) calc(0% - 448px), calc(50% - 320px) calc(25% + 256px),
			calc(50% - 32px) calc(25% - 128px), calc(50% + 56px) calc(50% + 304px),
			calc(50% + 48px) calc(50% + 520px), calc(50% - 256px) calc(100% + 672px),
			calc(50% + 0px) calc(100% + 512px);
	}
	@include mq(desktop) {
		background-position: calc(50% + 64px) calc(0% + 0px),
			calc(50% - 416px) calc(0% - 448px), calc(50% - 320px) calc(25% + 256px),
			calc(50% - 32px) calc(25% - 128px), calc(50% + 256px) calc(50% + 304px),
			calc(50% + 48px) calc(50% + 520px), calc(50% - 256px) calc(100% + 672px),
			calc(50% + 0px) calc(100% + 512px);
	}
}

.form-container {
	padding-top: $L;
	padding-bottom: $XXL;
	@include mq(tablet-S) {
		padding-left: 76px;
		padding-right: 76px;
	}
	@include mq(tablet-L) {
		padding-left: 192px;
		padding-right: 192px;
	}
	@include mq(desktop) {
		padding-left: 270px;
		padding-right: 270px;
	}
}

.form-subheader {
	margin-bottom: $M;
}

.form-survey {
	@include flex(flex, center, stretch);
	flex-direction: column;
	gap: $S;
	padding: 16px $M;
	// border: 1px solid $primaryColor900;
	border-radius: $S;
	background-color: rgba($color: #ffffff, $alpha: 0.6);
	box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.29),
		0.7px 1.3px 1.7px -0.6px hsl(0deg 0% 63% / 0.29),
		1.3px 2.6px 3.3px -1.2px hsl(0deg 0% 63% / 0.29),
		2.6px 5.2px 6.5px -1.9px hsl(0deg 0% 63% / 0.29),
		5px 10px 12.6px -2.5px hsl(0deg 0% 63% / 0.29);
}
