.form-section {
  padding-top: 88px;
}

.form-container {
  padding-top: $L;
  padding-bottom: $L;
}

.form-subheader {
  margin-bottom: $M;
}

.form-survey {
  @include flex(flex, center, stretch);
  flex-direction: column;
  gap: $S;
}
