.header {
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: $neutralColor0;
}

.header-container {
  position: relative;
  @include flex(flex, space-between, center);
  padding-top: $M;
  padding-bottom: $M;
  @include mq(desktop) {
    justify-content: unset;
  }
}

.navigation {
  @include mq(desktop) {
    @include flex(flex, space-between, center);
    margin-right: $XL;
  }
}

.header-logo {
  @include mq(desktop) {
    margin-right: auto;
  }
}

.header-nav-menu-list {
  display: none;
  @include mq(desktop) {
    @include flex(flex, center, center);
    gap: $L;
  }
}

.header-nav-menu-btn {
  @include flex(flex, center, center);
  @include font(400, 1rem, 1.5rem, 0);
  border: none;
  background-color: transparent;
}

.header-nav-menu-icon {
  stroke: $neutralColor950;
}

.create-account-btn-tablet {
  display: none;
  @include mq(tablet-S) {
    display: block;
    margin-left: auto;
    margin-right: $L;
  }
  @include mq(desktop) {
    margin-left: 0;
  }
}

.header-language-select-btn {
  display: none;
  @include mq(desktop) {
    display: flex;
  }
}

.button-hamburger {
  background: transparent;
  border: 0;
  border-radius: 4px;
  @include mq(desktop) {
    display: none;
  }
}

.button-hamburger .line {
  transition: y $mainTransitionDuration $mainTransitionTimingFunction
      $mainTransitionDuration,
    rotate $mainTransitionDuration $mainTransitionTimingFunction,
    opacity 0ms $mainTransitionDuration;
  transform-origin: center;
}

.button-hamburger[aria-expanded='true'] .line {
  transition: y $mainTransitionDuration $mainTransitionTimingFunction,
    rotate $mainTransitionDuration $mainTransitionTimingFunction
      $mainTransitionDuration,
    opacity 0ms $mainTransitionDuration;
}

.button-hamburger[aria-expanded='true'] :is(.top, .bottom) {
  y: 11;
}

.button-hamburger[aria-expanded='true'] .top {
  rotate: 45deg;
}

.button-hamburger[aria-expanded='true'] .middle {
  opacity: 0;
}

.button-hamburger[aria-expanded='true'] .bottom {
  rotate: -45deg;
}
