.hero-section {
  background-image: url('/src/images/iphone-hero-390.png'),
    url('/src/images/svg/bg-ellipse-blue-hero-390.svg'),
    url('/src/images/svg/bg-ellipse-yellow-hero-390.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: calc(50% + 120px) calc(50% + 68px),
    calc(50% + 160px) calc(50% + 68px), calc(50% + 16px) calc(50% + 228px);
  background-size: 352px, 640px, auto auto;
  padding-top: 88px;
  padding-bottom: 160px;
  margin-bottom: -160px;
}

.hero-container {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  gap: 20px;
  padding-bottom: 116px;
}

.hero-header {
  font-family: $secondaryFontFamily;
  color: $primaryColor950;
  text-wrap: balance;
  @include font(800, 3.75rem, 4.25rem, -0.05rem);
}

.hero-text {
  font-family: $secondaryFontFamily;
  color: $neutralColor950;
  text-wrap: balance;
  @include font(400, 1.25rem, 2rem, 0);
  max-width: 18rem;
  margin-bottom: 20px;
}

.buttons-app-download {
  @include flex(flex, center, center);
  flex-direction: column;
  gap: 20px;
}

.bond-ua-app-google-link,
.bond-ua-app-apple-link {
  border-radius: 12px;
  border: 1px solid $primaryColor900;
  background-color: $neutralColor0;
  transition: background-color $mainTransitionDuration
    $mainTransitionTimingFunction;
}

.bond-ua-app-google-link-vector-neutral950 {
  fill: $primaryColor950;
  stroke: $neutralColor950;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction,
    stroke $mainTransitionDuration $mainTransitionTimingFunction;
}

.bond-ua-app-google-link-vector-primary950,
.bond-ua-app-apple-link-primary950 {
  fill: $primaryColor950;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
}

.bond-ua-app-google-link:hover,
.bond-ua-app-apple-link:hover {
  background-color: $primaryColor950;
  transition: background-color $mainTransitionDuration
    $mainTransitionTimingFunction;
}

.bond-ua-app-google-link:hover .bond-ua-app-google-link-vector-neutral950 {
  fill: $neutralColor0;
  stroke: $neutralColor0;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction,
    stroke $mainTransitionDuration $mainTransitionTimingFunction;
}

.bond-ua-app-google-link:hover .bond-ua-app-google-link-vector-primary950,
.bond-ua-app-apple-link:hover .bond-ua-app-apple-link-primary950 {
  fill: $neutralColor0;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
}
