.hero-section {
  background-image: url('/src/images/iphone-hero.webp'),
    url('/src/images/svg/bg-ellipse-blue-hero-390.svg'),
    url('/src/images/svg/bg-ellipse-yellow-hero-390.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: calc(50% + 120px) calc(50% + 48px),
    calc(50% + 160px) calc(50% + 36px), calc(50% + 16px) calc(50% + 204px);
  background-size: 352px, 640px, auto auto;
  padding-top: 88px;
  padding-bottom: 224px;
  margin-bottom: -224px;
  @include mq(tablet-768) {
    background-image: url('/src/images/iphone-hero-side-768.webp'),
      url('/src/images/iphone-hero-front-768.webp'),
      url('/src/images/svg/bg-ellipse-blue-hero-390.svg'),
      url('/src/images/svg/bg-shape-yellow-hero-768.svg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: calc(50% + 304px) calc(50% - 32px),
      calc(50% + 128px) calc(50% - 88px), calc(50% + 320px) calc(50% - 32px),
      calc(50% + 56px) calc(50% + 88px);
    background-size: 340px, 328px, 560px, 634px;
  }
}

.hero-container {
  @include flex(flex, flex-start, center);
  @include mq(tablet-768) {
    padding-top: $L;
    padding-bottom: $L;
  }
}

.call-to-action-wrapper {
  @include flex(flex, center, flex-start);
  flex-direction: column;
  gap: $M;
  padding-bottom: 116px;
  @include mq(tablet-768) {
    flex-basis: calc((100% - 1 * $M) / 2);
    padding-bottom: 0;
  }
}

.hero-title {
  font-family: $secondaryFontFamily;
  color: $primaryColor950;
  text-wrap: balance;
  @include font(800, 3.75rem, 4.25rem, -0.1rem);
}

.hero-text {
  max-width: 18rem;
  text-wrap: balance;
  margin-bottom: 20px;
  @include mq(tablet-768) {
    max-width: 100%;
  }
}

.buttons-app-download {
  @include flex(flex, center, center);
  flex-direction: column;
  gap: $S;
  @include mq(tablet-768) {
    flex-direction: row;
    gap: $M;
  }
}

.bond-ua-app-google-link,
.bond-ua-app-apple-link {
  border-radius: $S;
  border: 1px solid $primaryColor900;
  background-color: $neutralColor0;
  transition: background-color $mainTransitionDuration
    $mainTransitionTimingFunction;
}

.bond-ua-app-google-link-vector-neutral950 {
  fill: $primaryColor950;
  stroke: $neutralColor950;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction,
    stroke $mainTransitionDuration $mainTransitionTimingFunction;
}

.bond-ua-app-google-link-vector-primary950,
.bond-ua-app-apple-link-primary950 {
  fill: $primaryColor950;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
}

.bond-ua-app-google-link:hover,
.bond-ua-app-apple-link:hover {
  background-color: $primaryColor950;
  transition: background-color $mainTransitionDuration
    $mainTransitionTimingFunction;
}

.bond-ua-app-google-link:hover .bond-ua-app-google-link-vector-neutral950 {
  fill: $neutralColor0;
  stroke: $neutralColor0;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction,
    stroke $mainTransitionDuration $mainTransitionTimingFunction;
}

.bond-ua-app-google-link:hover .bond-ua-app-google-link-vector-primary950,
.bond-ua-app-apple-link:hover .bond-ua-app-apple-link-primary950 {
  fill: $neutralColor0;
  transition: fill $mainTransitionDuration $mainTransitionTimingFunction;
}
