.products-container {
  @include flex(flex, center, center);
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
}

.products-button {
  font-family: $secondaryFontFamily;
  color: $neutralColor600;
  text-transform: uppercase;
  @include font(800, 1rem, 1.5rem, 0);
  border-radius: 12px;
  border: 1px solid $primaryColor900;
  padding: 20px 48px;
  width: 100%;
  height: 128px;
  background: $neutralColor0;
  transition: color $mainTransitionDuration $mainTransitionTimingFunction,
    background-color $mainTransitionDuration $mainTransitionTimingFunction;
  &:hover {
    cursor: pointer;
    color: $primaryColor100;
    background-color: $primaryColor950;
  }
}

.shares-button-icon,
.bonds-button-icon,
.depositary-button-icon,
.repositary-button-icon {
  margin: auto;
}

.bonds-button-icon-layer1,
.depositary-button-icon-layer5 {
  fill: $neutralColor500;
  transition: color $mainTransitionDuration $mainTransitionTimingFunction,
    background-color $mainTransitionDuration $mainTransitionTimingFunction;
}

.shares-button-icon-layer1,
.bonds-button-icon-layer2,
.depositary-button-icon-layer1,
.repositary-button-icon-layer-accent {
  fill: $accentColor500;
  transition: color $mainTransitionDuration $mainTransitionTimingFunction,
    background-color $mainTransitionDuration $mainTransitionTimingFunction;
}

.shares-button-icon-layer3,
.bonds-button-icon-vector1,
.depositary-button-icon-vector9,
.repositary-button-icon-layer-neutral {
  fill: $neutralColor600;
  transition: color $mainTransitionDuration $mainTransitionTimingFunction,
    background-color $mainTransitionDuration $mainTransitionTimingFunction;
}

.repositary-button-icon-vector5 {
  fill: $neutralColor500;
  transition: color $mainTransitionDuration $mainTransitionTimingFunction,
    background-color $mainTransitionDuration $mainTransitionTimingFunction;
}

.shares-button:hover .shares-button-icon-layer1,
.bonds-button:hover .bonds-button-icon-layer2,
.depositary-button:hover .depositary-button-icon-layer1,
.repositary-button:hover .repositary-button-icon-layer-accent {
  fill: $accentColor400;
}

.shares-button:hover .shares-button-icon-layer3,
.bonds-button:hover .bonds-button-icon-vector1,
.bonds-button:hover .bonds-button-icon-layer1,
.depositary-button:hover .depositary-button-icon-vector9,
.depositary-button:hover .depositary-button-icon-layer5,
.repositary-button:hover .repositary-button-icon-layer-neutral,
.repositary-button:hover .repositary-button-icon-vector5 {
  fill: $primaryColor100;
}
